.b-wrapper {
    margin: 0;
    padding: 0 200px;
}

body {
    background-color: #f4f4f7;
}

.b-service {
    background-color: white;
    padding-top: 90px;
    padding-bottom: 0px;
}

.b-text--position {
    padding-left: 200px;
    margin-bottom: 50px;
}

.b-advantage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 200px;
}

.b-advantage__item {
    display: block;
    padding-top: 0;
}

.b-advantage__picture--blue {
    background-color: #63c9e0;
}

.b-advantage__picture--orange {
    background-color: #f47e3d;
}

.b-advantage__picture--pink {
    background-color: #E75480;
}

.b-advantage__picture {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 30px;
    height: 90px;
    width: 90px;
}

.b-advantage__image {
    margin: auto;
}

.b-advantage__image--special-blue {
    width: 50px;
    height: 50px;
}

.b-advantage__image--special-orange {
    width: 25px;
    height: 60px;
}

.b-advantage__image--special-pink {
    width: 56px;
    height: 43px;
}

.b-advantage__text {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: normal;
    color: black;
    font-size: 20px;
    line-height: 30px;
    width: 250px;
}

.b-advantage__picture--about {
    height: 60px;
    width: 60px;
    margin-bottom: 23px;
}

.b-advantage__text--about {
    font-size: 15px;
    line-height: 20px;
    max-width: 147px;
}

.b-advantage__image--about-pink {
    width: 38px;
    height: 23px;
}

.b-advantage__image--about-blue {
    width: 30px;
    height: 35px;
}

.b-advantage__image--about-grey {
    width: 31px;
    height: 31px;
}

.b-advantage__image--about-orange {
    width: 30px;
    height: 30px;
}

.b-title--about {
    width: 700px;
}

.b-advantage--about {
    max-width: 780px;
}

.b-title {
    padding: 0 200px;
}

.b-title--contact {
    padding: 0;
}

.b-doing {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 170px;
    margin-bottom: 40px;
}

.b-list__item {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: normal;
    color: #2d2d42;
    padding-left: 0px;
    margin-bottom: 20px;
    width: 380px;
}

.b-list {
    list-style: none;
    padding-right: 120px;
    padding-left: 0px;
}

.b-list__item:last-child {
    margin-bottom: 0px;
}

.b-list__item::before {
    content: "";
    top: 15px;
    left: -60px;
    position: absolute;
    background-color: #64cae1;
    width: 30px;
    height: 1px;
}

.b-block {
    display: flex;
    margin-left: 200px;
}

.b-button--display-none {
    display: none;
}

/* HEADER */

.b-hero {
    margin-bottom: 100px;
    padding-top: 11px;
}

.b-header-top {
    padding-top: 28px;
    padding-left: 40px;
    margin-bottom: -2px;
}

.b-nav__logo--big-screen {
    margin-right: 120px;
}

.b-nav__list {
    max-width: 675px;
}

.b-nav__item {
    margin-right: 40px;
}

.b-nav__item--hidden {
    display: block;
}

.b-button--transparent {
    max-width: 580px;
    padding-left: 199px;
}

/* ///HEADER */

.b-information--sticker-team {
    position: absolute;
    bottom: 20px;
    right: 200px;
    background-color: #f4f4f7;
    padding: 40px 40px 110px;
    max-width: 380px;
    max-height: 380px;
    overflow: hidden;
}

.b-suptitle {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.73;
}

/* ABOUT HEADER */

.b-header-top--light-theme {
    margin-bottom: 0;
}

.b-advantage {
    padding-left: 200px;
    padding-right: 0px;
}

.b-suptitle--position {
    padding: 0 200px;
}

.b-text--about {
    padding: 0 200px;
}

.b-announcement--padding {
    background-color: #f4f4f7;
    padding: 40px 100px 65px 0;
}

.b-announcement__item {
    max-width: 280px;
}

.b-nav-footer {
    display: none;
}

.b-footer {
    background-color: black;
    padding-bottom: 0px;
}

.b-footer__line {
    display: flex;
    justify-content: space-between;
}

.b-copyright {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0;
    width: 50%;
}

.b-copyright__text {
    padding-left: 118px;
    color: #f4f4f7;
}

.b-title--size-max {
    max-width: 780px;
}

.b-block--about-doing {
    padding-left: 0px;
}

.b-about-doing {
    background-color: white;
    padding-bottom: 120px;
    margin-bottom: 100px;
}
.b-about {
    background-color: #f4f4f7;
    padding-bottom: 90px;
}
.b-advantage__image--software-blue {
    width: 50px;
    height: 44px;
}

.b-software {
    margin-bottom: 100px;
}

.b-advantage__image--software-blue {
    width: 50px;
    height: 44px;
}

.b-text--software {
    padding-left: 200px;
}

.b-title--software {
    margin-bottom: 50px;
}

.b-advantage__text--software {
    font-size: 30px;
    line-height: 40px;
}

.b-advantage--software {
    letter-spacing: 0;
    margin-bottom: 40px;
    max-width: 900px;
}

.b-advantage__item--expertise {
    flex-basis: 33.33%;
}

.b-advantage__item--software {
    padding-bottom: 20px;
}

.b-advantage__item--software {
    margin-bottom: 0px;
}

.b-picture--position {
    margin-bottom: 100px;
}

.b-advantage--expertise {
    max-width: 900px;
}

.b-advantage__image--experise-orange {
    width: 53px;
    height: 48px;
}

.b-advantage__image--experise-blue {
    width: 34px;
    height: 48px;
}

.b-advantage__image--experise-pink {
    width: 47px;
    height: 47px;
}

.b-advantage__text--pale-grey {
    color: #f4f4f7;
}

.b-advantage__text--small {
    font-weight: lighter;
    letter-spacing: 0;
    font-size: 15px;
    line-height: 25px;
    width: 260px;
}

.b-title--expertise {
    margin-bottom: 30px;
}

.b-expertise {
    background-color: #2d2d42;
    padding-top: 110px;
    padding-bottom: 45px;
    padding-right: 0px;
    margin-bottom: 100px;
}

.b-text--position {
    padding-left: 200px;
    margin-bottom: 50px;
}

.b-text--service {
    padding-left: 200px;
    margin-bottom: 100px;
}

.b-text--expertise {
    margin-bottom: 80px;
}

.b-position__title {
    margin-left: 169px;
}

.section-position__description {
    left: 130px;
}

.b-feedback-wrapper {
    margin-left: 169px;
}

.b-feedback__people-wrapper {
    margin-left: 169px;
}

.b-text--light {
    margin: 0 0 78px 200px;
}

.b-text--indentation {
    padding: 0 200px;
    margin-bottom: 90px;
}

.b-work {
    padding: 50px 0 30px;
}

.b-picture__image--large {
    margin-bottom: 20px;
}

.b-card {
    width: 100%;
    max-width: 580px;
}

.b-card--large {
    max-width: 100%;
    max-height: 600px;
    margin-bottom: 20px;
}

.b-project {
    justify-content: space-between;
}

.b-information--indentation {
    padding: 40px 140px 40px 0;
}

.b-information--sticker {
    bottom: 40px;
    left: 200px;
}

.b-text--indentation-xsmall {
    margin-bottom: 30px;
}

.js-slider__description {
    padding-left: 0;
    padding-right: 60px;
}

.b-picture--slide {
    max-width: 980px;
    margin-left: auto;
}

.slick-dots, .js-slider__description::before {
    left: 0;
}

.slick-dots {
    max-width: 380px;
}

.slick-dots li {
    margin-right: 9px;
}

.slick-dots li button, .slick-dots li button::before {
    width: 65px;
}

.b-inside {
    padding: 100px 0 10px;
}

.b-subtitle--big {
    padding-left: 200px;
}

.b-office__contacts {
    left: 131px;
    bottom: 46px;
}

.b-contact--style {
    position: relative;
    background: url(../images/b-contact/dt-map.png) no-repeat;
    background-position: 150px 180px;
    background-color: #000;
    padding: 100px 0 70px 200px;
}

.b-location {
    padding-right: 257px;
}

.b-social {
    transform: translate(-44px, -43px);
}

.b-snippet-pink {
    position: absolute;
    top: calc((100vw - 980px)/112.4 + 278px);
    left: calc((100vw - 980px)*0.01 + 750px);
    background-color: #d04b9b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.b-snippet-blue {
    position: absolute;
    top: calc((100vw - 980px)/112.4 + 253px);
    left: calc((100vw - 980px)*0.01 + 666px);
    background-color: #64cae1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.b-method {
    background-color: #fff;
    margin-bottom: 100px;
    padding: 100px 200px 60px;
}

.b-title--noindentation {
    padding: 0;
}

.b-highend {
    margin-bottom: 100px;
    overflow: visible;
}

.b-highend::before {
    top: -51px;
    left: -130px;
}

.b-highend::after {
    right: 0;
}

.b-highend__subtitle {
    padding: 0 200px;
}

.b-highend__text {
    padding: 0 200px;
}

.b-help {
    padding: 100px 101px 174px 200px;
}

.b-title--help {
    margin-bottom: 101px;
}

.b-help__description {
    padding-top: 8px;
}

.b-button--form {
    padding-left: 200px;
}

.b-copyright__text {
    padding-left: 108px;
}

.b-clients--color {
    background-color: #ffffff;
}

.b-clients--padding {
    padding: 100px 130px 15px 110px;
}

.b-title--clients {
    padding: 0 90px;
    margin-bottom: 50px;
}

.b-clients__text {
    margin: 0;
    margin-bottom: 86px;
    padding: 0 90px;
    max-width: 780px;
}

.b-clients__list {
    padding: 0;
    max-width: 950px;
}

.b-clients__item {
    width: 25%;
    margin-bottom: 85px;
}

.b-clients--indentation {
    margin-bottom: 100px;
}

.b-position-wrapper {
    margin-bottom: 0;
}

.b-team__article, .b-card--large {
    overflow: hidden;
}

.b-picture--team, .b-picture__image--large {
    transition: 0.5s;
}

.b-team__article:hover .b-picture--team, .b-card--large:hover .b-picture__image--large {
    transform: scale(1.2);
}