@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Robotolight.woff2') format('woff2'), url('../fonts/Robotolight.woff') format('woff'), url('../fonts/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Robotobold.woff2') format('woff2'), url('../fonts/Robotobold.woff') format('woff'), url('../fonts/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/Robotoblack.woff2') format('woff2'), url('../fonts/Robotoblack.woff') format('woff'), url('../fonts/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  min-width: 280px;
  overflow-x: hidden;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.b-header-wrapper {
  position: relative;
}

.b-logo-link {
  text-decoration: none;
}

.b-title {
  font-weight: 900;
  color: #2d2d42;
  margin-top: 0;
}

.b-subtitle {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.33;
  color: #2d2d42;
  max-width: 610px;
  padding: 0 200px;
}

.b-title--lighten {
  color: #f4f4f7;
  padding: 0;
}

.b-suptitle {
  font-weight: 900;
  text-transform: uppercase;
  color: #2d2d42;
  margin-top: 0;
}

.b-text {
  color: #2d2d42;
  margin-top: 0;
}

.b-text--about-pb {
  margin-bottom: 0;
}

.b-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.b-container--min {
  max-width: 980px;
}

.slick-slide img {
  width: 100%;
}

.b-picture {
  display: block;
  width: 100%;
  line-height: 0;
}

.b-picture__image {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.b-announcement__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.b-header-top {
  position: relative;
  background-color: #2d2d42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 6px;
  padding: 30px;
  z-index: 10;
}

.b-logo {
  width: 140px;
  overflow: hidden;
}

.b-logo img {
  object-fit: cover;
  width: 140px;
}

.b-nav__logo--big-screen {
  margin-right: 120px;
  width: 40px;
}

.b-language {
  display: flex;
  width: 170px;
}

.b-language__button {
  display: flex;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  border-color: transparent;
  color: #f4f4f7;
  justify-content: center;
  align-items: center;
  transition: .3s;
  margin-left: 14px;
  width: 40px;
  height: 40px;
}

.b-language__button:hover {
  border: 1px solid rgba(136, 133, 133, 0.2);
}

.b-language__button--active {
  border: 1px solid rgba(255, 255, 255, .2);
}

.b-text--light {
  color: #f4f4f7;
}

.b-help {
  background-color: #2d2d42;
}

.b-help__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.b-form__label, .b-form__input, .b-information--help, .b-title--help, .b-help__text, .b-help__text--large, .b-title--highend, .b-highend__text, .b-highend__subtitle {
  color: #f4f4f7;
}

.b-form__label {
  position: relative;
  opacity: 0;
  transition: 0.5s;
  color: rgba(244, 244, 247, 0.4);
}

.b-form__input {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(192, 198, 200, 0.2);
  outline: none;
}

.b-form__input::placeholder {
  color: #f4f4f7;
}

.b-form__input:focus+.b-form__label, .b-form__textarea:focus+.b-form__label {
  opacity: 1;
}

.b-form__input:focus {
  border-bottom-color: #c0c6c8;
}

.b-form__textarea {
  box-sizing: border-box;
  resize: none;
  outline: none;
  border: none;
  background-color: transparent;
  color: #f4f4f7;
  width: 100%;
}

.b-form__textarea::placeholder {
  color: #f4f4f7;
}

.b-help__text {
  margin-top: 0;
  padding: 0;
}

.b-text--lightsome {
  color: #93a4a9;
}

.b-order-list {
  list-style-type: none;
  counter-reset: num;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.b-order-list__item {
  position: relative;
  font-weight: 900;
  color: #2d2d42;
}

.b-order-list__item::before {
  position: absolute;
  left: 0;
  font-family: "Roboto";
  font-weight: 900;
  content: counter(num);
  counter-increment: num;
  color: #f4f4f7;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
}

.b-order-list__item:nth-child(4n+1):before {
  background-color: #64cae1;
}

.b-order-list__item:nth-child(4n+2):before {
  background-color: #d04b9b;
}

.b-order-list__item:nth-child(4n+3):before {
  background-color: #f47e3d;
}

.b-order-list__item:nth-child(4n+4):before {
  background-color: #93a4a9;
}

.b-position-wrapper {
  position: relative;
  background-color: rgb(211, 208, 208);
  width: 100%;
  height: 640px;
}

.b-position__title {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 25px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -0.31px;
  color: #2d2d42;
  margin-top: 30px;
  max-width: 780px;
  z-index: 5;
}

.b-feedback-wrapper {
  padding: 30px;
}

.b-feedback__info {
  margin-bottom: 13px;
}

.b-feedback__link {
  display: block;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #64cae1;
  text-decoration: none;
}

.b-feedback__link--tel {
  color: #2d2d42;
}

.b-feedback__link--social {
  display: flex;
  align-items: center;
}

.b-feedback__social-img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.b-feedback__people {
  display: flex;
  align-items: center;
  border-top: 1px solid #c0c6c8;
  padding: 30px;
}

.b-feedback__people-img {
  border-radius: 50%;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.b-feedback__people-img img {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
}

.b-feedback__people-name {
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
  color: #2d2d42;
  margin-bottom: 5px;
}

.b-feedback__people-specialty {
  display: block;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  color: #93a4a9;
}

.b-slogan {
  background-color: #f4f4f7;
  padding-top: 18px;
  padding-bottom: 30px;
}

.b-header-wrapper--bg {
  background-color: #f4f4f7;
}

/* ABOUT-PAGE */

.b-office {
  padding-top: 30px;
}

.b-map-img-wrapper {
  position: relative;
  max-width: 902px;
  width: 100%;
  height: auto;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.b-map-wrapper {
  position: relative;
}

.b-map {
  position: relative;
  width: 200%;
  left: -50%;
}

.dot-1 {
  position: absolute;
  background-color: #64cae1;
  border-radius: 50%;
  top: 20%;
  left: 43%;
  width: 12%;
  height: 12%;
  z-index: 10;
}

.dot-2 {
  position: absolute;
  background-color: #d04b9b;
  border-radius: 50%;
  top: 26%;
  left: 63%;
  width: 9%;
  height: 9%;
  z-index: 10;
}

.b-highend {
  background-color: #2d2d42;
}

.b-feedback {
  background-color: #fff;
}

.b-advantage__item:last-child {
  border-bottom: none;
}

.b-nav__logo {
  display: block;
  margin-bottom: 62px;
  width: 140px;
  height: 30px;
  overflow: hidden;
}

.b-nav__logo img {
  object-fit: cover;
  width: 140px;
}

.b-nav__logo-tablet {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.b-nav__logo-tablet img {
  object-fit: cover;
  width: 40px;
}

.ymaps-2-1-78-ground-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.b-highend__hr {
  color: rgba(192, 198, 200, 0.2);
}

.b-nav__item {
  width: 61px;
  overflow: hidden;
}
