.b-wrapper {
    margin: 0;
    padding: 0 30px;
}

.b-nav__logo--big-screen {
    display: none;
}

.b-advantage {
    list-style: none;
    margin: 0px;
    margin-top: -10px;
    padding: 0;
}

.b-advantage--mobile {
    margin-top: 0px;
}

.b-advantage__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid rgb(192, 192, 192, 0.2);
    border-left: none;
    border-right: none;
    padding: 29px 30px;
}

.b-advantage__image {
    margin: auto;
}

.b-advantage__picture--grey {
    background-color: grey;
}

.b-advantage__picture--blue {
    background-color: #63c9e0;
}

.b-advantage__image--special-blue {
    width: 28px;
    height: 30px;
}

.b-advantage__picture--orange {
    background-color: #f47e3d;
}

.b-advantage__image--special-orange {
    width: 14px;
    height: 35px;
}

.b-advantage__image--experise-orange {
    width: 30px;
    height: 27px;
}

.b-advantage__image--experise-blue {
    width: 20px;
    height: 28px;
}

.b-advantage__image--experise-pink {
    width: 26px;
    height: 27px;
}

.b-advantage__picture--pink {
    background-color: #E75480;
}

.b-advantage__image--special-pink {
    width: 32px;
    height: 24px;
}

.b-advantage__text {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: black;
    margin: 0;
    width: 190px;
}

.b-advantage__text--small {
    font-size: 13px;
    line-height: 20px;
}

.b-service {
    padding: 30px 0;
}

.b-expertise {
    background-color: #2d2d42;
    padding-top: 30px;
}

.b-title--mobile {
    max-width: 250px;
}

.b-text--pale-grey {
    color: #f4f4f7;
}

.b-advantage__block {
    display: flex;
    flex-direction: column;
}

.b-advantage__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid rgb(192, 192, 192, 0.2);
    border-left: none;
    border-right: none;
    padding: 29px 30px;
}

.b-advantage__picture {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    height: 50px;
    width: 50px;
}

.b-advantage__picture {
    align-self: flex-start;
}

.b-advantage__image {
    margin: auto;
}

.b-advantage__picture--blue {
    background-color: #63c9e0;
}

.b-advantage__image--size-blue {
    width: 28px;
    height: 30px;
}

.b-advantage__picture--orange {
    background-color: orange;
}

.b-advantage__picture--pink {
    background-color: #E75480;
}

.b-advantage__image--size-pink {
    width: 32px;
    height: 24px;
}

.b-advantage__text {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: black;
    margin: 0;
    width: 190px;
}

.b-advantage__text--software {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.b-advantage__image--software-blue {
    width: 28px;
    height: 24px;
}

.b-advantage--software {
    letter-spacing: 0;
    margin-bottom: 30px;
}

.b-advantage__text--pale-grey {
    color: #f4f4f7;
    padding-bottom: 20px;
}

.b-advantage__text--small {
    font-weight: lighter;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0;
}

.b-title--pale-grey {
    color: #f4f4f7;
}

.b-advantage--about {
    margin-top: 0px;
}

.b-advantage__picture--grey {
    background-color: grey;
}

.b-advantage__image--about-blue {
    width: 30px;
    height: 35px;
}

.b-advantage__image--about-pink {
    width: 38px;
    height: 23px;
}

.b-advantage__image--about-grey {
    width: 31px;
    height: 31px;
}

.b-advantage__image--about-orange {
    width: 30px;
    height: 30px;
}

.b-about {
    background-color: #f4f4f7;
    padding-top: 20px;
}

.b-doing {
    background-color: white;
    padding-top: 0px;
}

.b-software {
    background-color: white;
    margin-bottom: 30px;
}

.b-picture--position {
    margin-bottom: 30px;
}

.b-about-doing {
    background-color: white;
    padding-top: 35px;
    padding-bottom: 30px;
}

.b-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.b-list__item {
    position: relative;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;
    color: #2d2d42;
    margin-bottom: 20px;
    padding-left: 70px;
    width: 240px;
}

.b-list__item--last {
    margin-bottom: 40px;
}

.b-list__item::before {
    content: "";
    top: 10px;
    left: 30px;
    position: absolute;
    background-color: #64cae1;
    width: 20px;
    height: 1px;
}

.b-title--special {
    color: #c0c6c8;
}

.b-announcement {
    padding-top: 30px;
    padding-bottom: 10px;
}

.b-announcement__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.b-announcement__item {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
}

.b-announcement__pubdate {
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #93a4a9;
    padding: 0 30px;
}

.b-burger {
    position: relative;
    top: -2px;
    cursor: pointer;
    width: 20px;
    height: 13px;
    transition: .3s;
    z-index: 50;
}

.b-burger__row {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 100%;
    height: 1px;
}

.b-burger__row::before, .b-burger__row::after {
    content: "";
    position: absolute;
    display: block;
    background: #fff;
    transition: .3s;
    width: 100%;
    height: 1px;
}

.b-burger__row::before {
    top: -6px;
}

.b-burger__row::after {
    top: 6px;
}

.b-burger--active .b-burger__row {
    height: 0;
}

.b-burger--active .b-burger__row::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #2d2d42;
}

.b-burger--active .b-burger__row::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #2d2d42;
}

.b-burger__row--for-light-theme {
    background-color: #2d2d42;
}

.b-burger__row--for-light-theme::before {
    background-color: #2d2d42;
}

.b-burger__row--for-light-theme::after {
    background-color: #2d2d42;
}

.b-button {
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f4f4f7;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.33;
    text-decoration: none;
    padding: 20px 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 100%;
}

.b-button--big {
    padding-top: 29px;
    padding-bottom: 29px;
}

.b-button::after {
    content: url("../images/arrow-icon/arrow-min-icon.svg");
    position: absolute;
    display: block;
    top: 50%;
    right: 29px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.b-button--accent-color {
    background-color: #64cae1;
}

.b-button:hover {
    background-color: #64cae1;
}

.b-button:active {
    color: rgba(255, 255, 255, .5);
}

.b-button:focus {
    outline: none;
}

.b-hero {
    background-color: #2d2d42;
    padding: 0;
}

.b-information {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

.b-language {
    margin-left: -14px;
}

.b-language__button {
    background: none;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;
    color: #2d2d42;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 9px 12px;
    margin-right: 5px;
}

.b-language__button:hover {
    border: 2px solid #f4f4f7;
}

.b-language__button--active {
    border: 2px solid #f4f4f7;
}

.b-nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.b-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    transition: .3s;
    padding: 30px;
    width: 100%;
    z-index: 10;
}

.b-close-button {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    top: 35px;
    right: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 20px;
    height: 20px;
    z-index: 20;
}

.b-close-button::before, .b-close-button::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #2d2d42;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 20px;
    height: 1px;
}

.b-close-button:hover::before, .b-close-button:hover::after {
    opacity: .5;
}

.b-close-button:active::before, .b-close-button:active::after {
    background-color: #2d2d42;
}

.b-close-button::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.b-close-button::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.b-nav__list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 55px;
}

.b-nav__item {
    margin-bottom: 20px;
}

.b-nav__item--hidden {
    display: none;
}

.b-nav__link {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #2d2d42;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.b-nav__link--active {
    position: relative;
}

.b-nav__link--active::before {
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(45, 45, 66, .2);
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
}

.b-nav__link:hover::before {
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(45, 45, 66, .2);
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
}

.b-nav--active {
    transform: translateX(0);
}

.b-picture {
    margin-bottom: 30px;
}

.b-service {
    padding: 30px 0;
}

.b-suptitle {
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1.33px;
    margin-bottom: 20px;
    padding: 0 30px;
}

.b-suptitle--indentation-small {
    margin-bottom: 30px;
}

.b-team {
    border-bottom: 1px solid rgb(192, 198, 200, 0.2);
}

.b-text {
    line-height: 20px;
    margin-bottom: 30px;
    padding: 0 30px;
}

.b-text--about-pb {
    margin-bottom: 0;
}

.b-text--announcement-style {
    margin-bottom: 10px;
}

.b-text--nomargin {
    margin: 0;
    padding-bottom: 10px;
}

.b-text--software {
    letter-spacing: 0;
    margin-bottom: 40px;
    max-width: 265px;
}

.b-text--light {
    color: #f4f4f7;
    line-height: 1.34;
    letter-spacing: normal;
    margin: 0 auto;
    margin-bottom: 71px;
    padding-right: 40px;
    padding-left: 30px;
}

.b-text--indentation-small {
    margin-bottom: 20px;
    padding: 0;
}

.b-title-wrapper {
    padding-top: 2px;
}

.b-title {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.31px;
    margin-bottom: 21px;
    padding: 0 30px;
}

.b-title--mobile {
    max-width: 250px;
    margin-bottom: 30px;
}

.b-title--special {
    color: #c0c6c8;
    margin-bottom: 30px;
}

.b-title--lighten {
    color: #f4f4f7;
}

.b-work {
    padding: 30px 0 0 0;
}

.b-inside {
    padding: 30px 0;
}

.b-picture {
    min-height: 200px;
}

.js-slider-arrows__picture {
    display: block;
    overflow: hidden;
    width: 30px;
    height: 31px;
    margin: 0 auto;
}

.js-slider-arrows__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.js-slider-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.js-slider-dots {
    display: none;
}

.slick-prev, .slick-next {
    position: relative;
    top: 5px;
}

.slick-prev {
    left: -10px;
}

.slick-prev:before, .slick-next:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 0.2;
}

.slick-prev:before {
    content: url(../images/js-slider/left-arrow.svg);
}

.slick-next:before {
    content: url(../images/js-slider/right-arrow.svg);
}

.b-footer {
    background-color: #2d2d42;
    padding-bottom: 18px;
}

.b-copyright__text {
    padding: 0 30px;
}

.b-nav-footer__link {
    font-size: 15px;
    line-height: 40px;
    color: #f4f4f7;
    text-decoration: none;
}

.b-nav-footer__list {
    padding: 0 30px;
    margin-top: 20px;
    list-style: none;
}

.b-copyright__text {
    font-size: 15px;
    line-height: 20px;
    color: #f4f4f7;
}

.b-contact--style {
    position: relative;
    background: url(../images/b-contact/mb-map.jpg) no-repeat;
    background-size: calc(100% - 10px) auto;
    background-position: 0 217px;
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 40px;
}

.b-title--contact {
    color: #f4f4f7;
    margin-bottom: 20px;
}

.b-contact__text {
    color: #f4f4f7;
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 243px;
    padding: 0 30px;
}

.b-social__list {
    display: flex;
    margin-bottom: 220px;
    padding: 0 30px;
}

.b-social__item {
    margin-right: 25px;
}

.b-social__list {
    display: flex;
    margin-bottom: 220px;
    padding: 0 30px;
}

.b-picture--nomargin {
    margin: 0;
    min-height: 0;
}

.b-location {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.b-location__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #f4f4f7;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.b-location__sity {
    line-height: 25px;
    color: #f4f4f7;
    margin: 0;
}

.b-location__street {
    line-height: 25px;
    color: #f4f4f7;
    margin: 0;
}

.b-location__street--width {
    max-width: 220px;
}

.b-location__mail {
    display: block;
    cursor: pointer;
    line-height: 25px;
    text-decoration: none;
    color: #64cae1;
}

.b-location__phone {
    display: block;
    cursor: pointer;
    line-height: 25px;
    text-decoration: none;
    color: #f4f4f7;
}

.b-location__item:not(:last-child) {
    margin-bottom: 30px;
}

.b-clients--padding {
    padding-top: 30px;
    padding-bottom: 36px;
}

.b-clients__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0 30px;
}

.b-clients__item {
    width: 45%;
    margin-bottom: 26px;
}

.b-picture--min {
    text-align: center;
    max-width: 70px;
    min-height: unset;
    margin: 0 auto;
}

.b-clients__text {
    margin-bottom: 55px;
    padding: 0 30px;
    max-width: 280px;
}

.b-help {
    padding: 30px;
}

.b-title--help {
    padding: 0;
    margin-bottom: 15px;
}

.b-form {
    order: 2;
}

.b-form__label {
    font-size: 13px;
    line-height: 20px;
    top: -42px;
}

.b-form__input:focus+.b-form__label {
    top: -69px;
    opacity: 1;
    transition: all ease 0.8s;
}

.b-form__label--identation-small {
    top: -55px;
}

.b-form__input:focus+.b-form__label--identation-small {
    top: -82px;
}

.b-form__label--identation-medium {
    top: -78px;
}

.b-form__textarea:focus+.b-form__label--identation-medium {
    top: -100px;
}

.b-form__input {
    font-size: 15px;
    margin-bottom: 13px;
    padding: 10px 0;
}

.b-form__input--indentation {
    margin-bottom: 26px;
}

.b-form__textarea {
    font-size: 15px;
    line-height: 20px;
    height: 87px;
}

.b-form__textarea--position {
    position: relative;
    top: 10px;
    left: -2px;
}

.b-help__description {
    order: 1;
}

.b-help__text {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
}

.b-help__text--large {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 13px;
}

.b-help__text--indentation-small {
    margin-bottom: 33px;
}

.b-method {
    padding: 30px 30px 10px 30px;
}

.b-order-list {
    margin-bottom: 30px;
}

.b-order-list__item {
    line-height: 40px;
    margin-bottom: 20px;
    padding-left: 55px;
}

.b-title--noindentation {
    padding: 0;
}

.b-text--lightsome {
    margin-bottom: 30px;
}

.b-order-list {
    margin-bottom: 30px;
}
.b-text--service {
    text-align: center;
    padding: 0 100px;
    margin-bottom: 100px;
}
.b-order-list__item {
    line-height: 40px;
    margin-bottom: 20px;
    padding-left: 55px;
}

.section-position__description {
    position: absolute;
    line-height: 1.33;
    bottom: 16px;
    left: 30px;
    list-style: none;
    padding-left: 0;
}

/* ABOUT PAGE */

.b-snippet-pink {
    position: absolute;
    top: calc((100vw - 320px)/4.7 + 294px);
    left: calc((100vw - 320px)*0.56 + 161px);
    background-color: #d04b9b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.b-snippet-blue {
    position: absolute;
    top: calc((100vw - 320px)/4.7 + 275px);
    left: calc((100vw - 320px)*0.56 + 98px);
    background-color: #64cae1;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.b-button--form {
    text-align: left;
    background-color: #64cae1;
}

.b-position-wrapper {
    position: relative;
    background-color: rgb(211, 208, 208);
    width: 100%;
    height: 380px;
    padding: 0;
    margin-bottom: 20px;
}

@media screen and (min-width:450px) and (max-width:979px) {
    .b-about-doing, .b-feedback-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .b-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .b-title, .b-suptitle, .b-subtitle--big {
        text-align: center;
        max-width: 100%;
    }
    .b-suptitle--position{
        text-align: left;
    }
    .b-text, .b-help__text, .b-location__street--width {
        max-width: 100%;
    }
    .b-social__list, .b-feedback__people {
        justify-content: center;
    }
    .b-nav-footer__list, .b-copyright__text, .b-highend__subtitle, .b-button, .b-form__input, .b-form__textarea, .b-logo-link, .b-nav__logo, .b-nav__list, .b-text--light, .b-text--position, .b-text--indentation, .b-announcement__list, .b-location__item {
        text-align: center;
    }
    .b-text--indentation-small {
        text-align: left;
    }
    .b-form__label {
        left: calc((100vw - 320px)*0.56 + 80px);
    }
    .b-form__label--identation-medium {
        left: calc((100vw - 320px)*0.56 + 70px);
    }
    .b-language {
        margin: 0 auto;
    }
    .b-nav__logo {
        margin: 0 auto 62px auto;
    }
    .b-nav__logo--small-screen {
        display: block;
    }
    .b-nav__logo--big-screen {
        display: none;
    }
    .b-picture--position {
        width: 100%;
        margin-bottom: 100px;
    }
}

.b-office__contacts {
    position: absolute;
    left: 0;
    bottom: -12px;
    padding-left: 70px;
    width: 220px;
}

.b-office__contacts::before {
    content: "";
    display: block;
    position: absolute;
    top: 24px;
    left: 30px;
    background-color: #64cae1;
    width: 20px;
    height: 1px;
}

.office__text {
    line-height: 1.33;
    letter-spacing: normal;
    color: #2d2d42;
}

.b-office__link {
    color: #64cae1;
    transition: .3s;
}

.b-office__link:hover {
    text-decoration: underline;
}

.b-map-img-wrapper {
    margin-bottom: 50px;
}

/* ///ABOUT PAGE */

.b-highend {
    padding: 30px 0;
}

.b-highend__subtitle {
    line-height: 20px;
    margin: 0 0 30px;
    padding: 0 30px;
}

.b-highend__hr {
    margin-bottom: 26px;
}

.b-title--highend {
    margin-bottom: 19px;
}

.b-highend__text {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 0 29px;
}

.b-feedback-wrapper {
    padding-top: 11px;
}

.b-feedback__people {
    margin-top: -3px;
}

.b-feedback__people-text {
    margin-top: -3px;
}

.b-position__title {
    max-width: 250px;
}

.b-announcement__text {
    padding: 0 30px;
}

.b-picture__image {
    min-height: 200px;
}

.b-card {
    position: relative;
}

.dot-1 {
    top: 15%;
    left: 42.7%;
}

.dot-2 {
    top: 22%;
    left: 63%;
}

/* ABOUT OFFICE */

@media (min-width: 520px) {
    .b-subtitle {
        padding: 0 100px;
    }
    .b-map {
        width: 100%;
        top: 0;
        left: 0;
    }
    .dot-1 {
        position: absolute;
        background-color: #64cae1;
        border-radius: 50%;
        top: 16%;
        left: 46.7%;
        width: 5.5%;
        height: 11%;
        z-index: 10;
    }
    .dot-2 {
        position: absolute;
        background-color: #d04b9b;
        border-radius: 50%;
        top: 22%;
        left: 56%;
        width: 4.5%;
        height: 9%;
        z-index: 10;
    }
    .b-office__contacts {
        position: absolute;
        left: 100px;
        bottom: 47px;
        width: 300px;
        z-index: 10;
    }
    .b-office__contacts::before {
        display: none;
    }
    .office__text {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        margin-left: -10px;
    }
    .office__text::before {
        content: "";
        display: block;
        position: absolute;
        top: 33px;
        left: 0px;
        background-color: #64cae1;
        width: 30px;
        height: 1px;
    }
}

@media screen and (min-width:600px) and (max-width:979px) {
    .b-contact--style {
        position: relative;
        background: url(../images/b-contact/mb-map.jpg) no-repeat;
        background-size: calc(100% - 10px) auto;
        background-position: 0 217px;
        background-color: #000;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .b-title--contact {
        color: #f4f4f7;
        margin-bottom: 20px;
    }
    .b-contact__text {
        color: #f4f4f7;
        margin-top: 0;
        margin-bottom: 20px;
        max-width: 330px;
        padding: 0 30px;
        margin: 0 auto;
    }
    .b-location {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* ///ABOUT OFFICE */

.b-method__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 20px;
}

.b-method__text {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 20px;
}

.b-method__text--light {
    color: #93a4a9;
    margin-bottom: 30px;
}

.b-clients--padding {
    padding-top: 30px;
    padding-bottom: 52px;
}
.b-clients__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0 30px;
}
.b-clients__item {
    width: 45%;
    margin-bottom: 10px;
}
.b-picture--min {
    text-align: center;
    max-width: 80px;
    min-height: unset;
    margin: 0 auto;
}
.b-clients__text {
    margin-bottom: 40px;
    padding: 0 30px;
}
@media screen and (min-width:350px) and (max-width:768px) {
    .b-clients__text {
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 0 30px;
        max-width: 580px;
    }
}

    
.b-subtitle {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;
    color: #2d2d42;
    padding: 0 30px;
    margin-bottom: 29px;
}

.b-picture__image {
    width: 100%;
}
.b-header-top {
        background-color: transparent;
}

.b-header-top--light-theme {
  background-color: #f4f4f7;
  margin-bottom: 0;
  padding-bottom: 17px;
}
