.b-wrapper {
    margin: 0;
    padding: 0 100px;
}

.b-service {
    background-color: white;
    padding-top: 90px;
    padding-bottom: 0px;
}

.b-text--position {
    padding-left: 100px;
    margin-bottom: 95px;
}

.b-title--special {
    color: #c0c6c8;
    margin-bottom: 64px;
}

.b-text--service {
    text-align: left;
    padding: 0 100px;
    margin-bottom: 100px;
}

/* HEADER */

.b-hero {
    position: relative;
    background-image: url("../images/b-hero/b-hero-bg.webp"), url("../images/b-hero/b-hero-bg.jpg");
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    padding-top: 0;
}

.b-overlay {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.b-hero__wrapper {
    position: relative;
    z-index: 10;
}

.b-nav__logo {
    display: none;
}

.b-nav__logo {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.b-nav__logo img {
    width: 40px;
}

.b-nav__logo--big-screen {
    display: block;
    margin-right: 60px;
    width: 40px;
    height: 40px;
}



.b-title--lighten {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
    letter-spacing: -0.75px;
    color: #f4f4f7;
    margin-bottom: 33px;
    padding-left: 0;
}

.b-text--light {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #f4f4f7;
    max-width: 660px;
    padding-left: 0;
    margin: 0 0 78px 0;
}

.b-button--transparent {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: normal;
    color: #f4f4f7;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: .3s;
    padding-left: 100px;
    max-width: 480px;
}

.b-button--transparent:hover {
    background-color: #64cae1;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f4f4f7;
}

.b-button--big {
    padding-top: 24px;
    padding-bottom: 24px;
}

.b-button::after {
    content: url(../images/arrow-icon/ic-next.svg);
    right: 49px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-40%);
}

@media (min-width: 920px) {
    .b-language {
        flex-direction: row;
    }
}

@media (min-width: 960px) {
    .b-language {
        flex-direction: row;
    }
}

/* ///HEADER */

.b-team__article {
    position: relative;
}

.b-information--sticker-team {
    position: absolute;
    bottom: 20px;
    right: 110px;
    background-color: #f4f4f7;
    padding: 40px 40px 110px;
    max-width: 380px;
    max-height: 380px;
    overflow: hidden;
}

.b-text {
    font-size: 30px;
    line-height: 40px;
}

.b-text--light {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #f4f4f7;
    max-width: 670px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 78px 100px;
}

.b-doing {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 137px;
    margin-bottom: 70px;
}

.b-list {
    list-style: none;
    padding-right: 32px;
    padding-left: 49px;
}

.b-list__item:last-child {
    margin-bottom: 0px;
}

.b-list__item {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    padding-left: 0px;
    letter-spacing: normal;
    color: #2d2d42;
    margin-bottom: 20px;
    width: 320px;
}

.b-list__item::before {
    content: "";
    top: 15px;
    left: -40px;
    position: absolute;
    background-color: #64cae1;
    width: 30px;
    height: 1px;
}

.b-block {
    display: flex;
    margin-left: 100px;
}

.b-text--about {
    font-size: 20px;
    line-height: 30px;
    padding: 0 100px;
    margin-bottom: 75px;
    max-width: 685px;
}

.b-suptitle {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.73px;
    margin-bottom: 30px;
}

.b-text--nopadding {
    margin: 0;
    padding: 0;
}

.b-suptitle--nopadding {
    padding: 0;
}

.b-suptitle--indentation-large {
    margin-bottom: 50px;
}

.b-advantage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 890px;
    padding-left: 100px;
}

.b-advantage--about {
    padding-left: 100px;
    padding-right: 0px;
    max-width: 800px;
}

.b-advantage__text {
    font-family: "Roboto";
    font-weight: bold;
    line-height: 20px;
    letter-spacing: normal;
    color: black;
    font-size: 20px;
    line-height: 30px;
    width: 240px;
}

.b-advantage__item {
    display: block;
    border: none;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.b-advantage__picture--blue {
    background-color: #63c9e0;
}

.b-advantage__picture--orange {
    background-color: #f47e3d;
}

.b-advantage__picture--pink {
    background-color: #E75480;
}

.b-advantage__picture {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 30px;
    height: 90px;
    width: 90px;
}

.b-advantage__image {
    margin: auto;
}

.b-advantage__image--special-blue {
    width: 50px;
    height: 50px;
}

.b-advantage__image--special-orange {
    width: 25px;
    height: 60px;
}

.b-advantage__image--special-pink {
    width: 56px;
    height: 43px;
}

.b-advantage__text {
    font-size: 20px;
    line-height: 30px;
    width: 240px;
}

.b-advantage__picture--about {
    height: 60px;
    width: 60px;
    margin-bottom: 23px;
}

.b-advantage__image--about-blue {
    width: 30px;
    height: 35px;
}

.b-advantage__picture--grey {
    background-color: grey;
}

.b-advantage__image--about-pink {
    width: 38px;
    height: 23px;
}

.b-advantage__image--about-grey {
    width: 31px;
    height: 31px;
}

.b-advantage__image--about-orange {
    width: 30px;
    height: 30px;
}

.b-about {
    background-color: #f4f4f7;
    padding-top: 15px;
    padding-bottom: 90px;
}

.b-title {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -0.75px;
    margin-bottom: 25px;
    max-width: 735px;
    padding: 0 100px;
}

.b-title--about {
    padding-left: 100px;
    padding-right: 0px;
    max-width: 650px;
}

.b-title--special {
    margin-bottom: 75px;
}

.b-title--lighten {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
    letter-spacing: -0.75px;
    color: #f4f4f7;
    margin-bottom: 33px;
}

.b-title--position {
    max-width: 785px;
    margin-bottom: 30px;
}

.b-footer {
    padding-bottom: 0;
    background-color: black;
}

.b-footer__line {
    display: flex;
    justify-content: space-between;
}

.b-copyright {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0;
    width: 50%;
}

.b-copyright__text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 118px;
    color: #f4f4f7;
}

.b-button {
    position: relative;
    display: block;
    background-color: #64cae1;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f4f4f7;
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    padding-left: 105px;
    width: 50%;
}

.b-button--footer {
    width: 50%;
}
.b-copyright--background{
    background-color: #2d2d42;
}

.b-button--transparent {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: normal;
    color: #f4f4f7;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: .3s;
    padding-left: 100px;
    max-width: 480px;
}

.b-button--transparent:hover {
    background-color: #64cae1;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f4f4f7;
}

.b-button--big {
    padding-top: 24px;
    padding-bottom: 24px;
}

.b-button::after {
    content: url(../images/arrow-icon/ic-next.svg);
    right: 49px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-40%);
}

.b-nav-footer {
    display: none;
}

.b-announcement--padding {
    background-color: #f4f4f7;
    padding: 40px 180px 65px 100px;
}

.b-announcement__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.b-announcement__list::after {
    content: "";
    width: 26%;
}

.b-announcement__item {
    max-width: 200px;
}

.b-announcement__pubdate--decor {
    font-size: 15px;
    color: #93a4a9;
    padding: 0;
}

.b-announcement__text {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.b-button--display-none {
    display: none;
}

.b-title--size-max {
    padding-left: 100px;
    padding-right: 0px;
    max-width: 780px;
    margin-bottom: 75px;
}

.b-block--about-doing {
    padding-left: 12px;
}

.b-about-doing {
    background-color: white;
    padding-bottom: 120px;
}

.b-list__item::before {
    content: "";
    top: 15px;
    left: -60px;
    position: absolute;
    background-color: #64cae1;
    width: 30px;
    height: 1px;
}

.b-advantage__image--software-blue {
    width: 50px;
    height: 44px;
}

.b-text--software {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    margin-bottom: 70px;
    max-width: 780px;
    padding-left: 102px;
}

.b-title--software {
    padding-left: 100px;
    padding-right: 0px;
    margin-bottom: 50px;
}

.b-advantage__text--software {
    font-size: 30px;
    line-height: 40px;
}

.b-advantage--software {
    letter-spacing: 0;
    margin-bottom: 0px;
    padding-right: 0px;
    max-width: 900px;
}

.b-about-doing {
    padding-top: 50px;
}

.b-software {
    padding-bottom: 35px;
    margin-bottom: 0px;
}



.b-advantage__item--software {
    padding-bottom: 60px;
}

.b-expertise {
    background-color: #2d2d42;
    padding-top: 100px;
    padding-bottom: 0px;
}

.b-text--pale-grey {
    color: #f4f4f7;
}

.b-text--position {
    padding-left: 100px;
    margin-bottom: 60px;
}

.b-advantage__text {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: normal;
    color: black;
    font-size: 20px;
    line-height: 30px;
    width: 240px;
}

.b-advantage__text--about {
    font-size: 15px;
    line-height: 20px;
    max-width: 147px;
}

.b-title, .b-suptitle, .b-title--pale-grey, .b-advantage__text--pale-grey, .b-subtitle--big {
    text-align: left;
    max-width: 100%;
}

.b-title--about {
    padding-left: 100px;
    padding-right: 0px;
    max-width: 650px;
}

.b-advantage__text--software {
    font-size: 30px;
    line-height: 40px;
}

.b-advantage__text--small {
    font-weight: lighter;
    letter-spacing: 0;
    font-size: 15px;
    line-height: 25px;
}

.b-text--expertise {
    color: #f4f4f7;
    padding: 0 100px;
    margin-bottom: 60px;
}

.b-title--expertise {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 30px;
}

.b-advantage::after, .b-clients__list::after {
    content: "";
    flex-grow: 1;
}

.b-advantage__item {
    flex-basis: 25%;
    margin-bottom: 35px;
}

.b-advantage__item--service {
    flex-basis: 33.33%;
}

.b-advantage__item--expertise {
    flex-basis: 33.33%;
}

.b-announcement__item, .b-advantage__item--expertise, .b-advantage__item--software {
    flex-basis: 33.3%;
    margin-bottom: 35px;
}

.b-advantage__item--software {
    margin-bottom: 0px;
}

.b-advantage--expertise {
    padding-right: 0px;
    max-width: 900px;
}

.b-advantage__image--experise-orange {
    width: 53px;
    height: 48px;
}

.b-advantage__image--experise-blue {
    width: 34px;
    height: 48px;
}

.b-advantage__image--experise-pink {
    width: 47px;
    height: 47px;
}

.b-advantage__text--pale-grey {
    color: #f4f4f7;
    width: 180px;
}

/* CONTACTS B-FEEDBACK */

.b-feedback {
    padding: 43px 0 34px 0;
}

.b-feedback-wrapper {
    display: flex;
    margin-bottom: 3px;
    margin-left: 70px;
}

.b-feedback__info {
    width: 300px;
    margin-right: 60px;
    padding-right: 40px;
}

.b-feedback__link {
    font-size: 20px;
    line-height: 2;
}

.b-feedback__people-wrapper {
    display: flex;
    align-items: center;
    margin-left: 70px;
    padding: 0;
}

.b-feedback__people {
    align-items: flex-start;
    box-sizing: border-box;
    border-top: none;
    width: 300px;
    padding-right: 30px;
}

.b-feedback__people-img {
    width: 120px;
    height: 120px;
    margin-right: 0;
    margin-bottom: 33px;
}

.b-feedback__people-img img {
    width: 120px;
}

.b-feedback__people {
    flex-direction: column;
    margin-right: 100px;
    padding-top: 17px;
}

.b-feedback__people-name {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 1px;
}

.b-feedback__people-specialty {
    font-size: 20px;
}

.b-position__title {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.08;
    letter-spacing: -0.75px;
    color: #2d2d42;
    margin-top: 94px;
    margin-left: 70px;
    max-width: 780px;
}

.section-position__description-item {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #2d2d42;
    margin-left: 70px;
}

.b-position-wrapper {
    height: 640px;
}

.section-position__description {
    bottom: 72px;
}

/* ///CONTACTS B-FEEDBACK */

.b-work {
    background-color: #f4f4f7;
}

.b-text--indentation {
    padding: 0 100px;
    margin-bottom: 90px;
}

.b-card {
    width: 50%;
}

.b-card--large {
    width: 100%;
}

.b-picture {
    margin-bottom: 0;
}

.b-picture--position {
    margin-bottom: 90px;
    max-width: 100%;
}

.b-picture--large {
    width: 100%;
    margin-bottom: 0;
}

.b-picture__image {
    min-height: 320px;
}

.b-picture__image--large {
    min-height: 600px;
}

.b-suptitle--indentation-medium {
    margin-bottom: 40px;
    padding: 0;
}

.b-information--indentation {
    padding: 40px 50px 40px 40px;
}

.b-information--sticker {
    position: absolute;
    bottom: 20px;
    left: 110px;
    background: #64cae1;
    max-width: 380px;
    max-height: 380px;
    padding: 40px;
    overflow: hidden;
}

.b-suptitle--lighten, .b-text--lighten {
    color: #f4f4f7;
}

.b-project {
    display: flex;
    flex-wrap: wrap;
}

.b-suptitle {
    padding: 0;
}

.b-suptitle--position {
    padding: 0 100px;
}

.b-inside {
    padding: 100px 0 40px;
    background-color: #f4f4f7;
}

.js-slider-arrows {
    display: none;
}

.js-slider__description {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #f4f4f7;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 130px;
    max-width: 400px;
    min-width: 300px;
    max-height: 380px;
}

.js-slider__description::before {
    position: absolute;
    bottom: 13%;
    content: "";
    width: 50px;
    height: 25px;
    background: url(../images/js-slider/tc.svg) no-repeat;
    background-size: cover;
}

.js-slider__description {
    padding-left: 40px;
    padding-right: 40px;
}

.js-slider__description::before {
    left: 40px;
}

.slick-dots {
    left: 40px;
}

.slick-dots li {
    margin-right: 5px;
}

.b-text--ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 340px;
    max-height: 160px;
    padding: 0;
}

.b-picture--slide {
    max-height: 600px;
}

.b-picture__image--slide {
    max-width: 1179px;
    min-height: 600px;
}

.b-subtitle--big {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    color: #2d2d42;
    padding-left: 100px;
}

.b-contact--style {
    position: relative;
    background: url(../images/b-contact/dt-map.png) no-repeat;
    background-position: 150px 180px;
    background-color: #000;
    padding: 100px 0 70px 100px;
}

.b-title--contact {
    padding: 0;
    margin-bottom: 75px;
}

.b-contact__text {
    font-size: 20px;
    line-height: 30px;
    color: #f4f4f7;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 90px;
    max-width: 380px;
}

.b-contact__description {
    order: 3;
}

.b-contact__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 169px;
}

.b-social {
    transform: translate(53px, -41px);
}

.b-social__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 73px;
    margin-bottom: 0;
}

.b-social__item {
    margin-right: 25px;
}

.b-picture--nomargin {
    margin: 0;
    min-height: 0;
}

.b-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    padding-right: 160px;
}

.b-location__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #f4f4f7;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.b-location__sity {
    line-height: 25px;
    color: #f4f4f7;
    margin: 0;
}

.b-location__street {
    line-height: 25px;
    color: #f4f4f7;
    margin: 0;
}

.b-location__street--width {
    max-width: 380px;
}

.b-location__mail {
    display: block;
    cursor: pointer;
    line-height: 25px;
    text-decoration: none;
    color: #64cae1;
}

.b-location__phone {
    display: block;
    cursor: pointer;
    line-height: 25px;
    text-decoration: none;
    color: #f4f4f7;
}

.b-snippet-pink {
    position: absolute;
    top: calc((100vw - 980px)/112.4 + 284px);
    left: calc((100vw - 980px)*0.01 + 653px);
    background-color: #d04b9b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.b-snippet-blue {
    position: absolute;
    top: calc((100vw - 980px)/112.4 + 258px);
    left: calc((100vw - 980px)*0.01 + 569px);
    background-color: #64cae1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.b-location__item:not(:last-child) {
    margin-bottom: 0;
}

.b-title--noindentation {
    padding: 0;
}

.b-method {
    padding: 50px 100px 30px 100px;
}

.b-method__subtitle {
    font-size: 30px;
    line-height: 40px;
}

.b-method__text {
    font-size: 30px;
    line-height: 40px;
}

.b-method__text--light {
    font-size: 20px;
    line-height: 30px;
    color: #93a4a9;
    margin-bottom: 30px;
}

.b-office__contacts {
    left: 91px;
    bottom: 46px;
    width: 380px;
}

.office__text {
    margin-left: 0;
    width: 310px;
}

.dot-1 {
    top: 19%;
    left: 47.7%;
}

.dot-2 {
    top: 24%;
    left: 57%;
}

.b-highend {
    position: relative;
    padding: 100px 0 98px;
    overflow: hidden;
}

.b-highend::before {
    position: absolute;
    content: "";
    background: url(../images/b-highend/birdieeyes-phone@3x.webp) no-repeat center center / cover;
    top: -20px;
    left: -230px;
    width: 492px;
    height: 909px;
}

.b-highend::after {
    position: absolute;
    content: "";
    background: url(../images/b-highend/upsport-phone@3x.webp) no-repeat center center / cover;
    top: 294px;
    right: -100px;
    width: 670px;
    height: 855px;
}

.b-title--highend {
    margin-bottom: 30px;
}

.b-highend__subtitle {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 195px;
    padding: 0 100px;
}

.b-highend__hr {
    margin-bottom: 100px;
    max-width: 780px;
}

.b-highend__text {
    font-size: 20px;
    line-height: 30px;
    max-width: 470px;
    margin-bottom: 30px;
    padding: 0 100px;
}

.b-clients--padding {
    padding: 100px 100px 105px 100px;
}

.b-title--clients {
    padding: 0;
    margin-bottom: 50px;
}

.b-clients__text {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 95px;
    padding: 0;
    max-width: 780px;
}

.b-clients__list {
    padding: 0;
}

.b-clients__item {
    width: 25%;
    margin-bottom: 25px;
}

.b-picture--min {
    text-align: center;
    max-width: 100px;
    min-height: unset;
    margin: 0 auto;
}

.b-help {
    padding: 100px 55px 175px 100px;
}

.b-title--help {
    margin-bottom: 100px;
}

.b-form {
    order: 1;
    max-width: 380px;
}

.b-form__label--indentation-small {
    margin-bottom: 20px;
}

.b-form__input {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 15px 0;
}

.b-form__textarea {
    font-size: 20px;
    line-height: 30px;
    height: 100px;
}

.b-help__description {
    order: 2;
    max-width: 380px;
}

.b-help__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

.b-help__text--large {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 32px;
}

.b-help__text--indentation-small {
    margin-bottom: 40px;
}

.b-form__label {
    font-size: 15px;
    line-height: 20px;
    top: -60px;
}

.b-form__input:focus+.b-form__label {
    top: -90px;
    opacity: 1;
    transition: all ease 0.8s;
}

.b-form__label--identation-small {
    top: -116px;
}

.b-form__input:focus+.b-form__label--identation-small {
    top: -146px;
}

.b-form__label--identation-medium {
    top: -100px;
}

.b-form__textarea:focus+.b-form__label--identation-medium {
    top: -140px;
}

.b-help__wrapper {
    justify-content: space-between;
}

.b-form__input--indentation {
    margin-bottom: 77px;
}

.b-button--form {
    padding-left: 99px;
}

.b-nav__logo--big-screen {
    margin-bottom: 20px;
}

@media (min-width: 980px) {
    .b-header-top--light-theme {
        padding-bottom: 0;
    }
}

@media (min-width: 960px) {
    .b-nav__logo--big-screen {
        margin-bottom: 62px;
    }
}

@media (min-width: 980px) {
    .b-method {
        background-color: #fff;
        padding: 100px 66px 61px 100px;
    }
    .b-title--noindentation {
        padding: 0;
    }
    .b-order-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;
        width: 100%;
    }
    .b-order-list__item {
        font-size: 20px;
        line-height: 30px;
    }
    .b-order-list__item::before {
        left: -16px;
        top: -9px;
        line-height: 50px;
        width: 50px;
        height: 50px;
    }
    .b-order-list__item:first-child {
        position: absolute;
        top: 7px;
        margin-bottom: 128px;
        margin-right: 52px;
    }
    .b-order-list__item:first-child::after {
        position: absolute;
        content: "";
        top: 15px;
        left: -88px;
        width: 50px;
        height: 113px;
        border-top: 2px solid #c0c6c8;
        border-left: 2px solid #c0c6c8;
        border-top-left-radius: 43px;
    }
    .b-order-list__item:nth-child(2) {
        position: absolute;
        top: 165px;
        margin-bottom: 192px;
        margin-right: 169px;
    }
    .b-order-list__item:nth-child(2)::after {
        position: absolute;
        content: "";
        top: 61px;
        left: 8px;
        width: 175px;
        height: 51px;
        border-bottom: 2px solid #c0c6c8;
        border-left: 2px solid #c0c6c8;
        border-bottom-left-radius: 40px;
    }
    .b-order-list__item:nth-child(3) {
        position: relative;
        top: 46px;
        margin-bottom: 136px;
        margin-right: 187px;
    }
    .b-order-list__item:nth-child(3)::after {
        position: absolute;
        content: "";
        top: -66px;
        right: -130px;
        width: 110px;
        height: 81px;
        border-right: 2px solid #c0c6c8;
        border-bottom: 2px solid #c0c6c8;
        border-bottom-right-radius: 40px;
    }
    .b-order-list__item:nth-child(4) {
        margin-bottom: 67px;
        margin-right: 517px;
    }
    .b-order-list__item:nth-child(4)::after {
        position: absolute;
        content: "";
        top: -104px;
        left: 8px;
        width: 258px;
        height: 73px;
        border-left: 2px solid #c0c6c8;
        border-top: 2px solid #c0c6c8;
        border-top-left-radius: 40px;
    }
    .b-order-list__item:nth-child(5) {
        margin-right: 33px;
    }
    .b-order-list__item:nth-child(5)::after {
        position: absolute;
        content: "";
        top: -82px;
        left: -193px;
        width: 202px;
        height: 50px;
        border-right: 2px solid #c0c6c8;
        border-top: 2px solid #c0c6c8;
        border-top-right-radius: 43px;
    }
    .b-method__scheme {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 45px;
    }
    .b-infection {
        padding-top: 277px;
        padding-bottom: 42px;
        width: 43px;
        margin-left: auto;
        margin-right: 59px;
    }
    .b-infection__separator {
        border-right: 2px solid #c0c6c8;
        border-top: 2px solid #c0c6c8;
        border-top-right-radius: 40px;
        width: inherit;
        height: 100%;
        padding-bottom: 20px;
    }
    .b-title--margin-medium {
        margin-bottom: 30px;
    }
    .b-method__subtitle {
        margin-bottom: 80px;
    }
    .b-method__text {
        margin-bottom: 40px;
    }
    .b-method__text-container {
        max-width: 380px;
    }
    .b-header-top {
    background-color: transparent;
    padding-top: 40px;
    padding-left: 100px;
    margin-bottom: 0;
}

.b-header-top--light-theme {
    background-color: #f4f4f7;
    margin-bottom: 0;
    padding-left: 100px;
}

.b-language {
    flex-direction: row;
    width: 176px;
}

.b-language__button {
    color: #f4f4f7;
    margin-left: 9px;
}

.b-language__button--active {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.b-nav {
    position: static;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
    transform: translate(0);
    padding: 0;
    width: 100%;
}

.b-nav__item {
    margin-right: 55px;
}

.b-nav__item--hidden {
    display: none;
}

.b-nav__link {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;
    color: #f4f4f7;
    text-decoration: none;
}

.b-nav__link--for-light-theme {
    color: #2d2d42;
}

.b-nav__list {
    display: flex;
    list-style: none;
    transition: .3s;
    padding-left: 0;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 0;
}

.b-nav__link {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .3s;
    }
}

@media (min-width: 980px) {
        .b-logo {
        display: none;   
    }
        .b-burger {
        display: none;
    }

    /* ABOUT HEADER */

    .b-language__button--for-light-theme {
        color: #2d2d42;
    }

    .b-language__button--for-light-theme:hover {
        border: 1px solid #2d2d42;
    }

    .b-language__button--for-light-theme-active {
        border: 1px solid rgba(45, 45, 56, 0.2);
    }
    /* ///ABOUT HEADER */
}

.b-title--min {
    max-width: 735px;
}

.b-subtitle--big {
    max-width: 610px;
}